
.grid-container {
  margin: 20px;
}
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #f44336;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  width: 80%;
  border-radius: 8px;
  margin: 5% auto;
}
.Sucursales{
  width: 50%;
  margin: 10% auto;
  border-radius: 8px;
  margin-top: 0px;
  margin-bottom: 10px
}
.carta {
  width: 50%;
  margin: 5% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 100%;
  display: block;
  margin: auto;
}
mat-card-content {
 
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80%;
  margin: 20px auto;
}

mat-tabs.mat-default-theme mat-ink-bar, mat-tabs mat-ink-bar {
    color: red !important;
    background-color:red !important;
}



