<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" color="accent"  fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar >Menu</mat-toolbar>
    <mat-nav-list color="accent">
      <a color="accent" mat-list-item routerLink="/">Home <mat-icon mat-list-icon>supervised_user_circle</mat-icon></a>
      <a mat-list-item routerLink="/Home/RegistrarUsuario">Registrar Usuario<mat-icon mat-list-icon>folder_shared</mat-icon></a>
      <a mat-list-item routerLink="/Home/Resumen">Ver Resumen<mat-icon mat-list-icon>assessment</mat-icon></a>
      <a mat-list-item routerLink="/Home/RegistrarServicio">Registrar Servicio<mat-icon mat-list-icon>assessment</mat-icon></a>
      <a mat-list-item routerLink="/Home/ListarServicios">Administrar Servicios<mat-icon mat-list-icon>assessment</mat-icon></a>
      <a mat-list-item routerLink="/Home/RegistrarCargos">Registrar Cargo<mat-icon mat-list-icon>assessment</mat-icon></a>
      <a mat-list-item routerLink="/Home/ListarCargos">Administrar Cargos<mat-icon mat-list-icon>assessment</mat-icon></a>
      <a mat-list-item routerLink="/Home/RegistrarEmpresa">Registrar Empresa<mat-icon mat-list-icon>assessment</mat-icon></a>
      <a mat-list-item routerLink="/Home/ListarEmpresas">Administrar Empresas<mat-icon mat-list-icon>assessment</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>IGS</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


