<mat-grid-list cols="4" rowHeight="70px">
  <mat-grid-tile
      [colspan]="2"
      [rowspan]="1"
      >
    <mat-form-field>
		<!--(keyup)="applyFilter($event.target.value)" evento para el filtro-->
  		<input matInput  placeholder="Buscar ...">
	</mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      class="selector"
      >
    <mat-form-field>
	  <mat-label>Buscar por estado</mat-label>
	  <mat-select>
	    <mat-option *ngFor="let food of foods" [value]="food.value">
	      {{food.viewValue}}
	    </mat-option>
	  </mat-select>	
	</mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
	  class="btnPlus"
      >
    
	  <a mat-flat-button color="primary"
	    		matTooltip="Agregar Cargo"
        		matTooltipPosition="above"
        		aria-label="Button that displays a tooltip in various positions"
        		class="agregar"
        		[routerLink]="['/Home/RegistrarCargos']"><mat-icon mat-list-icon>add</mat-icon>
       </a>
	
  </mat-grid-tile>
</mat-grid-list>


<table mat-table [dataSource]="cargos" class="mat-elevation-z4" color="primary">
	  <!--- Note that these columns can be defined in any order.
	        The actual rendered columns are set as a property on the row definition" -->

	  <!-- ID Column -->
	  <ng-container matColumnDef="Id_tipo_cargo">
	    <th mat-header-cell *matHeaderCellDef class="header">ID </th>
	    <td mat-cell *matCellDef="let cargo"> {{cargo.Id_tipo_cargo}} </td>
	  </ng-container>

	  <!-- Nombre Column -->
	  <ng-container matColumnDef="Nombre_cargo">
	    <th mat-header-cell *matHeaderCellDef class="header">Nombre </th>
	    <td mat-cell *matCellDef="let cargo"> {{cargo.Nombre_cargo}} </td>
	  </ng-container>

	  <!-- Descripcion Column -->
	  <ng-container matColumnDef="Descripcion_cargo">
	    <th mat-header-cell *matHeaderCellDef class="header">Descripcion </th>
	    <td mat-cell *matCellDef="let cargo"> {{cargo.Descripcion_cargo}} </td>
	  </ng-container>

	  <!-- Estatus Column -->
	  <ng-container matColumnDef="Estado_cargo">
	    <th mat-header-cell *matHeaderCellDef class="header">Estado </th>
	    <td mat-cell *matCellDef="let cargo">
	    	<!--Aqui esta en if else de habilitacion de servicios-->
	    	<p *ngIf = "cargo.Estado_cargo; else No">Habilitado</p>
	    	<!--{{serv.Estado_servicio}}-->
	    	<ng-template #No>
				<p>Deshabilitado</p> 
			</ng-template> 
	    </td>
	    
	  </ng-container>

	  <!--Opciones Column-->
	  <ng-container matColumnDef="Opciones" >
	    <th mat-header-cell *matHeaderCellDef class="header">Opciones </th>
	    <td mat-cell *matCellDef="let cargo"> 
	    	<a mat-flat-button color="accent" [routerLink]="['/Home/DatosCargo', cargo.Id_tipo_cargo]" style="color:white"
	    		matTooltip="Actualizar cargo"
        		matTooltipPosition="above"
        		aria-label="Button that displays a tooltip in various positions">
				<mat-icon mat-list-icon>sync_alt</mat-icon>
			</a>
	    		<!--Aqui esta en if else de habilitacion de servicios-->
	    	<a mat-flat-button color="warn" *ngIf = "cargo.Estado_cargo; else Nobtn"
	    		matTooltip="Deshabilitar cargo"
        		matTooltipPosition="above"
        		aria-label="Button that displays a tooltip in various positions">
        		<mat-icon mat-list-icon>clear</mat-icon>
        	</a>
	    	<a mat-flat-button color="primary" *ngIf = "!cargo.Estado_cargo" #Nobtn
	    		matTooltip="Habilitar cargo"
        		matTooltipPosition="above"
        		aria-label="Button that displays a tooltip in various positions"><mat-icon mat-list-icon>done</mat-icon>
        	</a>	
	    </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="encabezado"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr></table>

