table {
  width: 90%;
  margin:  auto;
  text-align:justify; 
}
.Agregarsucursal{
  background-color: #689F38
}
.encabezado{
  background-color: #689F38;
}
.header{
  text-align: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;  
}

.filtros{
  width: 100%;
  margin:  auto;
}
a {
  margin-right: 2px
}
.example-button {
  margin-top: 16px;
}

.example-tooltip-red {
  background: #b71c1c;
}
table th {
  text-align: center;
}
table tr {
  text-align: center;
}
.agregar{
  align-items: 
}
mat-grid-list{
  width: 90%;
  margin:  auto;
  text-align:right;
  
}
.selector{
  margin-left: 25px
}
.btnPlus{
  margin-left: 30px;
}