
<mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Registro de Servicios</mat-card-title>
    <mat-card-content>
      <form #addServicioForm="ngForm">
        <mat-form-field>
          	<input
                  matInput
                  placeholder="Nombre de servicio"
                  required
                  name="Nombre_servicio"
                  ngModel
                  #Nombre_servicio="ngModel"
                  [(ngModel)]="servicio.Nombre_servicio"
                  >
        	<mat-error *ngIf="Nombre_servicio.invalid">Se requiere un nombre para el servicio</mat-error>
        </mat-form-field>
		<mat-form-field class="example-full-width">
		    <textarea 
            matInput 
            placeholder="Descripcion del servicio"
            name = 'Descripcion_servicio'
            #Descripcion_servicio="ngModel"
            [(ngModel)]="servicio.Descripcion_servicio">            
        ></textarea>
		</mat-form-field>
        <button (click)="addService()"
                mat-raised-button
                color="primary"
                class="login-button">
                Registrar servicio
        </button>
      </form>
    </mat-card-content>
</mat-card>
